<li>
  <a href="https://www.instagram.com/svoltastudenti/" target="_blank">
    <img src="/assets/img/socials/instagram.svg" alt="Instagram">
  </a>
</li>
<li>
  <a href="https://www.facebook.com/svoltastudentipolimi" target="_blank">
    <img src="/assets/img/socials/facebook.svg" alt="Facebook">
  </a>
</li>
<li>
  <a href="https://www.youtube.com/user/Svoltastudenti" target="_blank">
    <img src="/assets/img/socials/youtube.svg" alt="YouTube">
  </a>
</li>
<li>
  <a href="https://www.linkedin.com/company/svolta-studenti/" target="_blank">
    <img src="/assets/img/socials/linkedin.svg" alt="LinkedIn">
  </a>
</li>
<li>
  <a href="https://www.twitch.tv/svoltastudenti" target="_blank">
    <img src="/assets/img/socials/twitch.svg" alt="Twitch">
  </a>
</li>