@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --orange: rgb(255, 102, 0);
    --orange-half: rgba(255, 102, 0, .5);
    --orange-third: rgba(255, 102, 0, .85);
    --orange-off: rgba(255, 102, 0, 0);
    --light-off: rgba(255, 255, 255, 0);
    --light-half: rgba(255, 255, 255, .5);
    --light-on: rgba(255, 255, 255, 1);
    --dark-off: rgba(0, 0, 0, 0);
    --dark-half: rgba(0, 0, 0, .5);
    --dark-on: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light-on);
    overflow-y: auto;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

#logo-svolta {
    height: 30px;
}

#site-nav-checkbox {
    display: none;
}

#menu-icon {
    z-index: 21;
    position: fixed;
    top: 5;
    left: 0;
    margin: 0;
    padding: 0;
    margin-left: calc(15vw - 25px);
}

.ham {
    top: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: rotate(0deg);
}

#site-nav-checkbox:checked~#site-header .ham {
    transform: rotate(45deg);
}

.hamTop,
.hamMiddle,
.hamBottom {
    fill: none;
    transition: stroke-dasharray 1s, stroke-dashoffset 1s;
    stroke: white;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.hamTop {
    stroke-dashoffset: 0px;
    stroke-dasharray: 40 121;
}

.hamBottom {
    stroke-dashoffset: 0px;
    stroke-dasharray: 40 121;
}

#site-nav-checkbox:checked~#site-header .hamTop {
    stroke-dashoffset: -68px;
}

#site-nav-checkbox:checked~#site-header .hamBottom {
    stroke-dashoffset: -68px;
}

#site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-color: var(--orange-third);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transition: all .5s .5s;
}

#site-nav-checkbox:checked~#site-header {
    background-color: var(--orange-off);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: all .2s;
}

#site-header>* {
    flex-grow: 0;
    flex-shrink: 0;
    background-size: contain;
    vertical-align: text-bottom;
}

#site-header span {
    text-align: center;
    color: var(--light-on);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
}

#site-header .lang {
    top: 30px;
    position: absolute;
    right: 15vw;
    transform: translate(50%, -50%);
    font-weight: normal;
    font-size: 16px;
    transition: all .5s;
}

#site-header .lang::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    top: calc(50% - 1px);
    right: 0;
    background-color: var(--light-on);
    transition: inherit;
}

#site-header .lang:hover::before {
    left: 0;
    width: 100%;
}

#site-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 18vh;
}

#site-title h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 7vh;
    font-size: 4vh;
}

#site-nav-checkbox:not(:checked)~#site-nav {
    height: 0%;
}

#site-nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--orange-third);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: all 1s;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#site-nav ul,
#site-nav li {
    list-style-type: none;
}

#site-nav > * {
    flex-grow: 0;
    flex-shrink: 0;
}

#site-nav-pages {
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 0;
}

#site-nav-pages li {
    margin: 30px 0px;
}

#site-nav-pages li a {
    color: #FFFFFF;
    font-weight: bold;
    transition: all .5s;
    font-size: 4vh;
    transform: scale(1);
    padding: .8vh 1.8vh;
    z-index: 12;
}

#site-nav-pages li a:hover {
    background-color: var(--light-on);
    color: var(--orange);
    font-size: 6vh;
    border: 1px solid var(--light-on);
}

#site-nav-pages li a::before {
    content: attr(data-text);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17vh;
    pointer-events: none;
    letter-spacing: 30px;
    transition: all .5s;
    opacity: 0;
    white-space: nowrap;
    color: var(--light-off);
    z-index: 11;
}

#site-nav-pages li a:hover::before {
    opacity: .5;
    letter-spacing: 5px;
    -webkit-text-stroke: 2px var(--light-on);
}

#site-nav-pages li:nth-child(1) +
#site-nav-pages li:nth-child(2) {
    background-color: blue;
}


#site-nav-socials {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
}

#site-nav-socials li {
    display: inline-block;
}

#site-nav-socials svg {
    height: auto;
    width: 50px;
    overflow: hidden;
    margin: 10px;
    transform: scale(1);
    transition: all .5s;
}

#site-nav-socials svg:hover {
    transform: scale(1.2);
}

#site-nav-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

#site-nav-projects li {
    min-width: 200px;
    font-weight: bold;
    color: var(--light-on);
    text-align: center;
    display: block;
    border: 1px solid white;
    padding: 20px;
    margin: 20px;
    transition: all .5s;
    background-color: var(--light-off);
}

#site-nav-projects li:hover {
    background-color: var(--light-on);
    color: var(--orange);
    transform: scale(1.1);
}

#div1 {
    height: 60vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-on);
    width: 50vw;
    z-index: 30;
}

#proj1:hover #div1 {
    height: 70vh;
}

#site-nav a {
    text-decoration: none;
    color: inherit;
}

#site-cookies {
    position: fixed;
    background-color: var(--light-on);
    bottom: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 10vw;
    box-shadow:  0px 5px 17px -7px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    text-align: center;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0%);

    display: none;
}

#site-cookies button {
    background-color: var(--orange);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

#site-cookies h1 {
    font-size: larger;
    font-weight: bolder;
}

#content {
    margin-top: 30px;
}

#content img {
    padding: 2vw;
    width: 100%;
    transition: all .4s;
}

#content img:hover {
    transform: scale(1.025);
}

#content img:active {
    transform: scale(2);
}

#content p {
    text-align: justify;
    hyphens: auto;
}

article {
    max-width: 600px;
    margin: 10vh auto;
}

article h1 {
    font-size: xx-large;
margin-bottom: 20px;}

article h2 {
    font-size: x-large;
}

article h3 {
    font-size: large;
}

article .authors {
    text-align: center;
}

article .authors,
article .authors li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

article .authors li {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-right: 15px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    transition: transform .5s;
}

article .authors li:hover {
    transform: scale(1.2);
}

article .authors li img {
    border-radius: 25px;
    height: 50px;
    overflow: hidden;
    object-fit: cover;
}

.backgroundImage {
    background-origin: padding-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.thList {
    width: 70%;
    margin: auto;
}

.thList input[name="thList-tags"],
.thList #thList-checkbox {
    display: none;
}

.thList .list {
    top: 0;
    padding-top: 60px;
    width: 100vw;
    position: fixed;
    text-align: center;
    margin-bottom: 5vh;
    z-index: 5;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: var(--light-on);
    overflow: scroll;
}

.thList .list ul,
.thList .list li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.thList .list label[for="thList-checkbox"] {
    font-weight: bold;
    font-size: 25px;
    margin: 20px;
    display: block;
    color: var(--orange);
}

.thList .list label[for="thList-checkbox"]:hover {
    cursor: s-resize;
}

/* .thList #thList-checkbox:not(:checked)~ul label[for*="thList-catFilter"]{
    background-color: red;
    margin: 5px;
    height: 100%;
    transition: all 1s;
}

/* #thList-checkbox:not(:checked) ~ .list ul {
    height: 100%;
    transition: all 1s;
  } */


.thList .list ul li {
    font-size: 16px;
}

.thList .data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15vh;
}

.thList .th {
    position: relative;
    width: 250px;
    height: 300px;
    object-fit: contain;
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 15px;
    transition: all .5s;
}

.thList .th:hover,
.thList .th:active {
    transform: scale(1.1);
}

.thList .th .button {
    padding-top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 26px;
    background-color: var(--dark-off);
    padding: 10%;
    text-align: left;
    font-weight: bold;
    color: var(--light-on);
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all .5s;
    top: 0;
    background-color: rgba(0, 0, 0, .2);
}

.thList .th .button:hover {
    padding-top: 10%;
    background-color: var(--orange-third);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.vslideshow > .content section .data {
    margin-right: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.vslideshow > .content {
    scroll-behavior: smooth;
}

@media (orientation: portrait) {
    article {
      width: 80%;
    }
    
    .ham,
    .vslideshow > .content section .data {
        margin-left: calc(10vw - 25px);
    }

    #logo-svolta {
        height: 25px;
    }

    #menu-icon {
        margin-left: calc(12vw - 25px);
    }

    #site-nav-pages {
        margin-top: 5vh;
        margin-bottom: 0px;
    }

    #site-nav-pages li {
        font-size: 4vw;
        margin: 20px 0px;
    }

    #site-nav-pages li a {
        font-size: 3vh;
        padding: .5vh 1.4vh;
    }

    #site-nav-pages li a:hover {
        font-size: 4vh;
    }

    #site-nav-projects li{
        margin: 50px auto;  
        display: inline-block;
    }

    #site-nav-projects {
        margin-top: 0px;
        margin-bottom: 30px;
        flex-direction: column;
    }

    #site-nav-projects li {
        padding: 15px;
        margin: 10px;
    }

    #site-nav-socials svg {
        width: 40px;
    }

    .thList .data {
        margin-top: 20vh;
    }
}

@media screen and (max-width: 350px) {
    #logo-svolta {
        height: 20px;
    }

    #site-nav-pages {
        margin-top: 7vh;
    }

    #site-nav-projects li {
        min-width:175px;
        padding: 10px;
        font-size: 12px;
    }

    #site-nav-socials svg {
        width: 30px;
    }
  }


  @media screen and (max-height: 600px) and (orientation: landscape) {
    #site-nav-pages {
        margin-top: 60px;
    }

    #site-nav-pages li {
        margin: 12px 0px;
    }

    #site-nav-projects li {
        margin: 10px;
        min-width:150px;
        padding: 10px;
        font-size: 12px;
        flex-grow: 0;
        flex-shrink: 0;
    }

    #site-nav-socials svg {
        width: 30px;
    }
  }

  @media screen and (max-height: 900px) and (orientation: landscape) {
    .thList .data {
        margin-top: 20vh;
    }
  }