@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --orange: #FF6600;
    --light-off: rgba(255, 255, 255, 0);
    --light-half: rgba(255, 255, 255, .5);
    --light-on: rgba(255, 255, 255, 1);
    --dark-off: rgba(0, 0, 0, 0);
    --dark-half: rgba(0, 0, 0, .5);
    --dark-on: rgba(0, 0, 0, 1);
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-color: darkgray;
    overflow-y: auto;
    overflow-x: hidden;
}

.backgroundImage {
    background-color: #FF6600;
    background-image: url('/assets/img/home_cover.jpg');
    background-origin: padding-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.thList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.thList .th {
    position: relative;
    width: 220px;
    height: 320px;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 10px;
}

.thList .th::after {
    content: 'Read More';
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    width: 180px;
    border-radius: 15px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    background-color: white;
    text-align: center;
    font-weight: bold;
    color: black;
}

* {
    box-sizing: border-box;
}

#site-nav-checkbox {
    display: none;
}

#site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FF6600;
}

#site-title {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 130px;
    font-size: 60px;
    line-height: 130px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#site-header > * {
    flex-grow: 0;
    flex-shrink: 0;
    height: 40px;
    background-size: contain;
    vertical-align: text-bottom;
}

#site-content {
    margin-top: 200px;
}
#site-nav-checkbox:not(:checked)~#site-nav {
    display: none; 
}
#site-nav-checkbox:checked~#site-title {
    display: none;
}

#site-nav {
    position: fixed;
    top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FF6600;
}

#site-nav ul,
#site-nav li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#site-nav-pages {
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
}

#site-nav-socials li {
    display: inline-block;
}

#site-nav-socials img {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 20px;
}

#site-nav a {
    text-decoration: none;
    color: inherit;
}

#site-cookies {
    position: fixed;
    background-color: red;
    bottom: 0;
    width: 100%;
}

article {
    margin-left: 10px;
    margin-right: 10px;
}

article h1 {
    font-size: xx-large;
}

article h2 {
    font-size: x-large;
}

article h3 {
    font-size: large;
}

article .authors,
article .authors li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

article .authors li {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-right: 15px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
}

article .authors li img {
    border-radius: 25px;
    height: 50px;
    overflow: hidden;
}

@media all and (min-width: 1025px){
    #site-header,
    #site-content, 
    #site-nav {
        padding-left: calc((100% - 1024px) / 2);
        padding-right: calc((100% - 1024px) / 2);
    }
}












/* 
#header > .left {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#header > .right {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
} */
/* 

#menu {
    position: fixed;
    top: 150px;
    left: 0;
    height: calc(100vh - 150px);
    width: 100vw;
    overflow: hidden;
    z-index: 5;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: all 1s .5s;
} */

/* #menu-checkbox:checked ~ #header > .title {
    opacity: 0;
} */
/* 
#menu-checkbox:checked~#menu {
    pointer-events: all;
    background-color: rgba(255, 255, 255, .75);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    -webkit-transition: backdrop-filter 1s;
    transition: all 1s;
}

#menu-checkbox:checked~#header .title {
    display: none;
}

#menu ul
#menu li {
    background-color: #FF6600;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
}

article {
    min-height: 100vh;
    hyphens: auto;
}

article h1 {
    hyphens: none;
}

article .article {
    position: relative;
}

article .article .th {
    position: relative;
}

article .article .th .info {
    position: absolute;
    top: 60px;
    left: 20px;
    right: 20px;
}

article .article .th .info .title {
    font-size: 5vmax;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 1px #000000;
}

article .article .th .info .category {
    font-size: 2vmax;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 1px #000000;
}

article .article > #content-wrapper {
    margin-left: 10px;
    margin-right: 10px;
}

article .article > #content-wrapper title {
    font-size: x-large;
    font-weight: bold;
    color: black;
}

article .article > #content-wrapper time {
    font-size: large;
    font-weight: bold;
    color: black;
}

article .article .th amp-img {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

article .article .th img {
    object-fit: cover;
}

.article #authors {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

article #related li {
    height: 15vw;
    width: 15vw;
    overflow: hidden;
}

article .article .th {
    display: block;
    height: 70vh;
    width: 100%;
    position: relative;
}

article #authors,
article #authors li,
article #related ul,
article #related li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

article #authors li,
article #related li {
    display: inline-block;
}

article #authors li {
    height: 50px;
    width: 50px;
    margin-right: 15px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
}

article #authors li a img {
    border-radius: 25px;
    height: 50px;
    overflow: hidden;
}

article #related {
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

article #related h1 {
    padding: 0;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 3vw;
    text-align: center;
    color: var(--orange);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

article #related ul {
    margin: auto;
    background-color: var(--orange);
    width: 70vw;
    border-radius: 50px;
}

article #related li {
    margin: 1em .5em;
    overflow: hidden;
    position: relative;
}

article #related img {
    border-radius: 30px;
    height: 5vw;
    width: 5vw;
}

#footer {
    background-color: #FF6600;
    color: white;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    position: relative;
    z-index: 2;
}

#footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: initial;
}

article #content {
    padding-bottom: 30px;
    font-size: 18px;
}

article #content b,
article #content strong {
    color: #003399;
}

article #content h2,
article #content h3,
article #content h4,
article #content h5,
article #content h6,
article #content h7 {
    color: #FF6600;
    font-size: 100%;
}

article #content blockquote {
    border-left: 5px solid #003399;
    padding-left: 5px;
}


article #content .info {
    font-style: italic;
    margin: 0;
    text-align: right;
    font-weight: bold;
}

article #content amp-img {
    border-top: 1px solid #FF6600;
    border-bottom: 1px solid #FF6600;
}

article #content amp-img img {
    object-fit: contain;
}

.backgroundImage {
    background-origin: padding-box;
    background-position: center;
    background-repeat: no-repeat;
}

#projects a p {
    display: none;
}

#projects a:hover p {
    display: block;
}

@media all and (orientation: landscape) {
    article .article {
        min-height: 100vh;
        padding: 0;
        margin: 0;
    }

    article .article .th {
        display: block;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 45%;
    }
    
    article .article > #content-wrapper {
        margin-left: 50%;
        margin-top: 60px;
        width: 40%;
        top: 60px;
        right: 5%;
        padding: 0;
    }
} */