@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --orange: #FF6600;
    --light-off: rgba(255, 255, 255, 0);
    --light-half: rgba(255, 255, 255, .5);
    --light-on: rgba(255, 255, 255, 1);
    --dark-off: rgba(0, 0, 0, 0);
    --dark-half: rgba(0, 0, 0, .5);
    --dark-on: rgba(0, 0, 0, 1);
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light-on);
    overflow-y: auto;
    overflow-x: hidden;
}

.backgroundImage {
    background-origin: padding-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.thList {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.thList .th {
    position: relative;
    width: 220px;
    height: 320px;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 10px;
}

.thList .th::after {
    content: 'Read More';
    position: absolute;
    bottom: 5%;
    width: 40%;
    border-radius: 20px;
    height: 30px;
    font-size: 70%;
    line-height: 30px;
    background-color: white;
    text-align: center;
    font-weight: bold;
    color: black;
    left: 50%;
    transform: translate(-50%, 0%);
}

* {
    box-sizing: border-box;
}

#site-nav-checkbox {
    display: none;
}

#menu-icon {
    z-index: 21;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: rotate(0deg) scale(0.7);
    margin-left: calc(15vw - 25px);
}

#site-nav-checkbox:checked~#site-header .ham {
    transform: rotate(45deg) scale(0.7);
}

.hamTop,
.hamMiddle,
.hamBottom {
    fill: none;
    transition: stroke-dasharray 1s, stroke-dashoffset 1s;
    stroke: white;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.hamTop {
    stroke-dashoffset: 0px;
    stroke-dasharray: 40 121;
}

.hamBottom {
    stroke-dashoffset: 0px;
    stroke-dasharray: 40 121;
}

#site-nav-checkbox:checked~#site-header .hamTop {
    stroke-dashoffset: -68px;
}

#site-nav-checkbox:checked~#site-header .hamBottom {
    stroke-dashoffset: -68px;
}

#site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 11;
}

#site-header>* {
    flex-grow: 0;
    flex-shrink: 0;
    background-size: contain;
    vertical-align: text-bottom;
}

#logoBig {
    margin-top: 1vh;
    padding: 0;
    object-fit: contain;
    height: auto;
    width: 30vw;
}

#site-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 18vh;
}

#site-title h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 7vh;
    font-size: 4vh;
}

#site-content {
    /* margin-top: 200px; */
}

#site-nav-checkbox:not(:checked)~#site-nav {
    height: 0%;
}

#site-nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--orange);
    transition: all 1s;
    z-index: 10;
}

#site-nav ul,
#site-nav li {
    list-style-type: none;
}

#site-nav-pages {
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20vh;
}

#site-nav-pages li {
    font-size: 4vw;
    padding: 10px 0px;
}

#site-nav-pages,
#site-nav-socials {
    margin-left: 15vw;
}

#site-nav-socials {
    margin-top: 3vh;
}

#site-nav-socials li {
    display: inline-block;
}

#site-nav-socials img {
    height: auto;
    width: 4vw;
    overflow: hidden;
    border-radius: 20px;
    margin: 10px;
}

#site-nav a {
    text-decoration: none;
    color: inherit;
}

#site-cookies {
    position: fixed;
    background-color: red;
    bottom: 0;
    width: 100%;
}

#content {
    margin-top: 30px;
}

#content img {
    padding: 2vw;
    width: 100%;
}

#content p {
    text-align: justify;
    hyphens: auto;
}

article {
    width: 40%;
    margin: 25vh auto;
}

article h1 {
    font-size: xx-large;
margin-bottom: 20px;}

article h2 {
    font-size: x-large;
}

article h3 {
    font-size: large;
}

article .authors {
    text-align: center;
}

article .authors,
article .authors li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

article .authors li {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-right: 15px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
}

article .authors li img {
    border-radius: 25px;
    height: 50px;
    overflow: hidden;
}