<!doctype html>
<html lang="{{ page.category }}">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="/assets/img/favicon.png" type="image/png">
  {% case page.category %}
  {% when "it" %}
  <meta http-equiv="content-language" content="it-it">
  {% when "en" %}
  <meta http-equiv="content-language" content="en-us">
  {% else %}
  <!-- Hopefully Google will detect our lang automagically ;) -->
  {% endcase %}
  {% if page.translations_it  %}
  <link rel="canonical" href="{{site.url}}/it/{{page.url | slugify}}">
  <link rel="alternate" hreflang="en" href="{{site.url}}/it/{{page.translations_it | slugify}}" />
  {% endif %}
  {% if page.translations_en  %}
  <link rel="canonical" href="{{site.url}}/it/{{page.translations_en | slugify}}">
  <link rel="alternate" hreflang="en" href="{{site.url}}/it/{{page.translations_en | slugify}}" />
  {% endif %}
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.desc }}" />
  <meta property="og:image" content="{{ page.article_th }}" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@svoltastudenti">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.desc }}">
  <meta name="twitter:image" content="{{ page.article_th }}">

  {% if page.layout == "blog" %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://google.com/article"
      },
      "headline": "{{ page.title | replace: '"', "'"}}",
      "image": [
        "{{ page.article_th }}"
      ],
      "dateModified": "{{ page.date }}",
      "publisher": {
        "@type": "Organization",
        "name": "Svoltastudenti",
        "logo": {
          "@type": "ImageObject",
          "url": "https://new.svoltastudenti.it/assets/img/svolta-mini-pos.png"
        }
      }
    }
    </script>
  {% endif %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#FF6600">
  <meta name="msapplication-navbutton-color" content="#FF6600">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <meta name="application-name" content="Svoltastudenti">
  <meta name="apple-mobile-web-app-title" content="Svoltastudenti">
  <meta name="description" content="{{ page.desc }}">
  <meta name="author" content="{{ page.authors }}">

  <title>
    {{ page.title }} | Svoltastudenti
  </title>
  <style>
    {% include style.css %}
    {% unless page.header_title %}
      #site-title {
        display: none;
      }
    {% endunless %}
    {% if page.article_th %}
      #site-title {
        background-image: url('{{ page.article_th }}');
      }
    {% endif %}
  </style>
  <script>{% include functions.js %}</script>
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "bf8a0f143f8c4f70b599dceedbd088b0"}'></script>
</head>
<!-- TODO BEFORE -->
<body>
  <input id="site-nav-checkbox" type="checkbox" ></input>
  <main id="site-content">
    {{ content }}
  </main>
  <div id="site-nav">
    <div id="site-nav-wrapper">
    <ul id="site-nav-pages">
      {% if page.category == "it"  %}
        <li>
          <a data-text="Home" href="{{site.url}}/it/">Home</a>
        </li>
        <li>
          <a data-text="Rappresentanza" href="{{site.url}}/it/rappresentanza">Rappresentanza</a>
        </li>
        <li>
          <a data-text="Associazione" href="{{site.url}}/it/associazione">Associazione</a>
        </li>
        <li>
          <a data-text="Eventi" href="{{site.url}}/it/eventi">Eventi</a>
        </li>
        <li>
          <a data-text="Notizie" href="{{site.url}}/it/notizie">Notizie</a>
        </li>
        <li>
          <a data-text="Contatti" href="{{site.url}}/it/contatti">Contatti</a>
        </li>
      {% endif %}
      {% if page.category == "en"  %}
        <li>
          <a data-text="Home" href="{{site.url}}/en/">Home</a>
        </li>
        <li>
          <a data-text="Association" href="{{site.url}}/en/association">Association</a>
        </li>
        <li>
          <a data-text="Representatives" href="{{site.url}}/en/representatives">Representatives</a>
        </li>
        <li>
          <a data-text="Events" href="{{site.url}}/en/events">Events</a>
        </li>
        <li>
          <a data-text="News" href="{{site.url}}/en/news">News</a>
        </li>
        <li>
          <a data-text="Contacts" href="{{site.url}}/en/contacts">Contacts</a>
        </li>
      {% endif %}
    </ul>
    <ul id="site-nav-projects">
      <a href="{{site.url}}/{{ page.category }}/svoltabook">
        <li id="proj2">SvoltaBook</li>
        <div id="div2"></div>
      </a>
      <a href="{{site.url}}/{{ page.category }}/faq">
        <li id="proj4">FAQ</li>
        <div id="div4"></div>
      </a>
    </ul>
    <div id="site-nav-socials">
      {% include socialnav.html %}
    </div>
    <div id="site-nav-copyright">
      &copy; Svoltastudenti {{ site.time | date: '%Y' }} · <a href="https://www.iubenda.com/privacy-policy/27818292/cookie-policy" target="_blank">Cookie/Privacy</a> · <a href="{{site.url}}/docs/tos.pdf" target="_blank">ToS</a>
    </div>
  </div>
  </div>
  <div id="site-header">
    <label id="menu-icon" for="site-nav-checkbox">
      <svg class="ham" viewBox="0 0 100 100" width="50">
        <path class="hamTop" d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
        <path class="hamMiddle" d="m 70,50 h -40" />
        <path class="hamBottom"
          d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
      </svg>
    </label>
    <!-- <span>Svoltastudenti</span> -->
    <a href="/{{ page.category }}">
      <picture>
        <!-- <source media="(max-width:768px)" srcset="/assets/img/logo-min.svg"> -->
        <img id="logo-svolta" src="/assets/img/logo-full.svg">
      </picture>
    </a>
    {% if page.translations_it  %}
      <a href="{{site.url}}/it/{{page.translations_it | slugify}}">
        <span class="lang">ITA</span>
      </a>
    {% elsif page.translations_en  %}
      <a href="{{site.url}}/en/{{page.translations_en | slugify}}">
        <span class="lang">ENG</span>
      </a>
    {% else %}
      <div><!-- Act as a dummy for the flex --></div>
    {% endif %}
  </div>
  <div id="site-title" class="backgroundImage">
    <h1>{{ page.header_title }}</h1>
  </div>
    
  <!-- <div id="site-cookies">
    <h1>Informativa</h1>
    Questo sito utilizza cookies tecnici per fornire i suoi servizi. <br />
    Trattandosi di servizi strettamente necessari per la fornitura del servizio, non e' necessario il tuo consenso <br />

    Maggiori informazioni nella nostra <a href="https://www.iubenda.com/privacy-policy/27818292/cookie-policy" target="_blank">cookie policy</a>
  </div> -->
  <div id="site-scroll"></div>
</body>
</html>
