---
layout: default
---
{% assign posts = site.posts | where: "layout", "_dropdown" | where: "page", page.dropdown_page | sort: "order" %}

<div class="dropdown">
    <style>
        .dropdown {
            margin-top: 100px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            background-origin: padding-box;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #FF6600;
            // background-image: url('/assets/img/uploads/img-20190523-wa0022.jpg');
            text-align: center;
            column-count: 1;
        }

        @media all and (min-width:1200px){
            .dropdown {
                column-count: 2;
            }
        }
        .dropdown section {
            background-color: white;
            max-width: 500px;
            margin: 10px;
            padding: 10px;
        }
        .dropdown input[id*='dropdown-radio-']{
            display: none;
        }

        .dropdown section .content {
            transition: height 1s;
            height: calc(0%);
        }
        
        .dropdown input[id*='dropdown-radio-']:checked ~ .content {
            height: calc(auto);
        }
        .dropdown input[id*='dropdown-radio-']:checked ~ label #arrow{
            transform: rotate(45deg) translate(-5px,-5px);
        }

        .dropdown input[id*='dropdown-radio-']:checked ~ label #arrow::before{
            transform: translate(10px,0);
        }

        .dropdown input[id*='dropdown-radio-']:checked ~ label #arrow::after{
            transform: rotate(90deg) translate(10px,0);
        }
    </style>
    {% for post in posts %}
        <section>
            <input id="dropdown-radio-{{ forloop.index }}" type="radio" name="dropdown">
            <label for="dropdown-radio-{{ forloop.index }}">{{ post.title }} <span id="arrow"></span></label>
            <div class="content">
                {{ post.content | markdownify }}
            </div>
        </section>
    {% endfor %}
</div>
