---
layout: article
---
<header class="eventsHeader">
	<div class="eventsImage">
		<div class="category">{{ page.tag }}</div>
		<img src="{{ page.article_th }}">
		<a class="buy" href="https://eventi.svoltastudenti.it/svoltastudenti/{{ page.pretix }}/">ISCRIVITI!</a>
		<!-- EUR {{ page.price }} -->
		<!-- <div class="date">
			{{ page.date | date: "%-d %B %Y" }}
		</div> -->
	</div>

	<div class="eventsInfo">
		<h1 class="title">
			{{page.title}}
		</h1>
		<div class="excerpt">{{ content }}</div>
		<article class="eventsDescription">
			<!-- <h1>{{ page.title }}</h1> -->
			{% if page.info.where %}
			<h2>DOVE</h2>
			{{ page.info.where | markdownify }}
			{% endif %}
			{% if page.info.when %}
			<h2>QUANDO</h2>
			{{ page.info.when | markdownify }}
			{% endif %}
			{% if page.info.cost %}
			<!-- <h2>COSTO</h2>
			{{ page.info.cost}}
			{% endif %}
			{% if page.info.reservation %} -->
			<h2>ISCRIZIONE</h2>
			{{ page.info.reservation | markdownify }}
			{% endif %}
			{% if page.days.generic %}
			<h2>PROGRAMMA</h2>
			{{ page.days.generic | markdownify }}
			{% if page.days.day1 %}
			<h3>GIORNO 1</h3>
			{{ page.days.day1 | markdownify }}
			{% endif %}
			{% if page.days.day2 %}
			<h3>GIORNO 2</h3>
			{{ page.days.day2 | markdownify }}
			{% endif %}
			{% if page.days.day3 %}
			<h3>GIORNO 3</h3>
			{{ page.days.day3 | markdownify }}
			{% endif %}
			{% if page.days.day4 %}
			<h3>GIORNO 4</h3>
			{{ page.days.day4 | markdownify }}
			{% endif %}
			{% if page.days.day5 %}
			<h3>GIORNO 5</h3>
			{{ page.days.day5 | markdownify }}
			{% endif %}
			{% endif %}
			{% if page.info.requirements %}
			<h2>COSA PORTARE</h2>
			{{ page.info.requirements | markdownify }}
			{% endif %}
			{% if page.info.info %}
			<h2>INFORMAZIONI</h2>
			{{ page.info.info | markdownify }}
			{% endif %}
			{% if page.info.notes %}
			<h2>NOTE</h2>
			{{ page.info.notes | markdownify }}
			{% endif %}
		</article>
	</div>
</header>
<div class="eventsSeparator">
	Eventi Correlati
</div>
<div class="eventsRelated">
	{% assign related = site.posts | where: "category", page.category | where: "layout", "events" | where: "tag", page.tag %}
	{% for item in related limit:4 %}
		<a class="th backgroundImage" data-th="{{ item.article_th }}" href="{{ item.url | prepend: site.baseurl }}"></a>
	{% endfor %}
</div>
<!-- <link rel="stylesheet" type="text/css"
		href="https://store.svoltastudenti.it/svoltastudenti/{{ page.pretix_id }}/widget/v1.css">
	<script type="text/javascript" src="https://store.svoltastudenti.it/widget/v1.en.js" async></script>
	<pretix-widget event="https://store.svoltastudenti.it/svoltastudenti/{{ page.pretix_id }}/"></pretix-widget> -->
<!-- <noscript>
		<div class="pretix-widget">
			<div class="pretix-widget-info-message">
				JavaScript is disabled in your browser. To access our ticket shop without JavaScript, please <a
					target="_blank" rel="noopener"
					href="https://store.svoltastudenti.it/svoltastudenti/{{ page.pretix_id }}/">click here</a>.
			</div>
		</div>
	</noscript> -->

</article>