<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rappresentanza</title>
</head>
<body>

    <main id="rappresentanza">
        <section>
            <h5>ABOUT US</h5>
            <p>Svoltastudenti è la prima associazione studentesca italiana
                e no-profit a rispecchiare il modello anglosassone
                delle students’ union.</p>
        </section>
        <section>
            <h5>EVENTI</h5>
            <p>BEYOND THE LESSONS
                Come Associazione crediamo che l’esperienza universitaria
                non debba essere limitata alle sole ore di lezione:
                per questo organizziamo viaggi, attività sportive e culturali
                a cui tutti gli studenti possono partecipare.</p>
        </section>
        <section>
            <h5>CONTATTI</h5>
            <p>VUOI ARRICCHIRE LA TUA ESPERIENZA UNIVERSITARIA?
                Vieni a trovarci nei nostri uffici o contattaci attraverso i nostri
                canali social. </p>
        </section>
    </main>
    
</body>
</html>