---
layout: default
---
{% assign posts = site.posts | where: "category", page.thlist_lang | where: "layout", page.thlist_layout %}
{% assign tags = posts | map: page.thlist_tag | compact | uniq | sort_natural %}
{% if page.category == "it" %}
  {% assign all_txt = "Tutti" | split: "~" %}
{% else %}
  {% assign all_txt = "All" | split: "~" %}
{% endif %}
{% assign tags=all_txt | concat: tags %}

<div class="thList">
  <script>
    subscribeIntersection('.thList .data .th', entry => {
      let img = entry.target.dataset.th;
      if (img && entry.intersectionRatio > 0.1) {
        entry.target.style.backgroundImage = `url('${img}')`;
      }
    })
  </script>
  <script>
    function closeThListCategory(){
      document.getElementById('thList-checkbox').checked = false;
    }
  </script>
  <style>
    #thList-checkbox ~ ul {
      max-height: 0px;
      transition: all 1s;
      overflow: hidden;
    }

    #thList-checkbox:checked ~ ul {
      max-height: 600px;
      padding-bottom: 20px
    }

    ul li {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    ul li label {
      font-size: 16px;
      display: block;
      padding: 8px 10px;
      margin: 2px;
      transition: all 1s;
    }

    ul li label:hover {
      font-weight: bold;
      font-size: 20px;
      background-color: var(--orange);
      cursor: pointer;
      color: var(--light-on);
    }

    .thList .data > .th {
      opacity: 1;
      word-wrap: break-word;
    }

    #thList-checkbox:checked ~ label #arrow{
      transform: rotate(45deg) translate(-5px,-5px);
    }

    #thList-checkbox:checked ~ label #arrow::before{
      transform: translate(10px,0);
    }

    #thList-checkbox:checked ~ label #arrow::after{
      transform: rotate(90deg) translate(10px,0);
    }

    {% for tag in tags %}
      .thList #thList-catFilter-{{ tag | slugify }}:checked ~ .data > .th:not([data-cat*="{{ tag | slugify }}"]) {
        opacity: 0;
        width: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        flex-grow: 0;
        flex-shrink: 0;
      }

      .thList #thList-catFilter-{{ tag | slugify }}:checked ~ .list label[for="thList-catFilter-{{ tag | slugify }}"] {
        color: var(--light-on);
        font-weight: bold;
        font-size: 20px;
        background-color: var(--orange);
      }
    {% endfor %}
  </style>
    {% for tag in tags %}
      <input type="radio" onchange="closeThListCategory()" name="thList-tags" id="thList-catFilter-{{ tag | slugify }}" {% if tag == all_txt[0] %} checked {% endif %} />
    {% endfor %}
  <div class="list">
    <input type="checkbox" id="thList-checkbox"/>
    <label for="thList-checkbox">Categorie <span id="arrow"></span></label>
    <ul>
      {% for tag in tags %}
        <li>
          <label for="thList-catFilter-{{ tag | slugify }}">{{ tag }}</label>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="data">
    {% for post in posts %}
      <a class="th backgroundImage" data-cat="{{ all_txt[0] | slugify }} {{ post.tag | slugify }}" data-th="{{ post.article_th }}" href="{{ post.url | prepend: site.baseurl }}">
        <div class="button">{{ post.title }}</div>
      </a>
    {% endfor %}
  </div>
<!-- </div>
<div class="wrapper-third">

</div>
<div class="wrapper-vertical">
  
</div>
<div class="wrapper-half">
  
</div> -->
</div>
<!-- <div class="thList">
<div class="wrapper">
  {% for tag in tags %}
    <input type="radio" name="thList-catFilter" id="thList-catFilter-{{ tag | slugify }}" />
  {% endfor %}
  <input type="checkbox" id="thList-checkbox" />
  <div class="list">
    <label for="thList-checkbox">Categorie</label>
    <ul>
      {% for tag in tags %}
        <li>
          <label for="thList-catFilter-{{ tag | slugify }}">{{ tag }}</label>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="data">
    {% for post in posts %}
    <a class="th" href="{{ post.url | prepend: site.baseurl }}">
      <div class="img" style="background-image: url('{{ post.article_th }}')"></div>
      <div class="info">
        <div class="title">{{ post.title }}</div>
        <div class="category">{{ post.tag }}</div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
</div> -->