---
layout: article
---
<header>
	<h1>
		{{ page.title }}
	</h1>
	<time pubdate datetime="{{ page.date }}" id="pubdate">{{ page.date | date: "%-d %B %Y" }}</time>
</header>
<div id="content">
	{{ content }}
</div>
<footer>
	{% if page.socials.mail %}
		<a href="mailto:{{ page.socials.mail }}@svoltastudenti.it">{{ page.socials.mail }}@svoltastudenti.it</a><br />
	{% endif %}
	{% if page.socials.fb %}
		<a href="https://facebook.com/{{ page.socials.fb }}">https://facebook.com/{{ page.socials.fb }}</a><br />
	{% endif %}
	{% if page.socials.in %}
		<a href="https://instagram.com/{{ page.socials.in }}">https://instagram.com/{{ page.socials.in }}</a><br />
	{% endif %}
	{% if page.socials.tg %}
		<a href="https://t.me/{{ page.socials.tg }}">https://t.me/{{ page.socials.tg }}</a><br />
	{% endif %}
</footer>