---
layout: default
---
{% assign posts = site.posts | where: "layout", "_vslideshow" | where: "page", page.vslideshow_page | sort: "order" %}
<div class="vslideshow">
  <style>
    .vslideshow,
    .vslideshow .section {
      margin: 0;
      top: 0;
      left: 0;
    }

    .vslideshow .section {
      height: 101vh;
      display: flex;
      align-items: center;
    }

    .vslideshow .section h1,
    .vslideshow .section h2,
    .vslideshow .section h3,
    .vslideshow .section p {
      width: 30vw;
      margin: 5px 5vw 5px 5vw;
    }

    .vslideshow .section h1,
    .vslideshow .section h2 {
      color: var(--orange);
    }

    .vslideshow .section h1 {
      font-size: 28px;
    }

    .vslideshow .section h2 {
      font-size: 20px;
      margin: 0;
      margin-top: 10px;
    }

    .vslideshow .section h3 {
      font-size: 18px;
      margin: 0;
    }

    .vslideshow .section a {
      margin: 30px 5vw;
      text-align: left;
      text-decoration: none;
      color: var(--light-on);
      background-color: var(--orange);
      padding: 10px 15px;
      font-weight: bold;
      align-self: flex-start;
    }

    .vslideshow .section img {
      max-height: 100%;
      max-width: 100%;
    }

    .vslideshow aside,
    .vslideshow .section .imageHalf {
      max-height: 80vh;
      max-width: 50vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      object-fit: contain;
      padding: 5vw;
    }

    @media screen and (max-height: 767px), (orientation: portrait) {
      .vslideshow .section {
        flex-direction: column;
        height: max-content;
      }

      .vslideshow .section:first-child {
        padding-top: 10vh;
      }

      .vslideshow .section h1,
      .vslideshow .section h2,
      .vslideshow .section h3,
      .vslideshow .section p {
        width: 80vw;
      }

      .vslideshow .section img {
        margin: 5vh;
      }

      .vslideshow aside,
      .vslideshow .section .imageHalf {
        max-width: 90%;
      }
    }
  </style>
  <div class="content">
    {% for post in posts %}
    <section class="anim section sectionLeft" data-delay=".5s">
      <aside>
        <h1>{{ post.title }}</h1>
        <p>
          {{ post.content | markdownify }}
        </p>
        {% if post.btn1.txt %}
        <a href="{{ post.btn1.link }}">{{ post.btn1.txt }}</a>
        {% endif %} {% if post.btn2.txt %}
        <a href="{{ post.btn2.link }}">{{ post.btn2.txt }}</a>
        {% endif %}
      </aside>

      <div class="imageHalf">
        <img src="{{ post.bg_img }}" alt="" />
      </div>
    </section>
    {% endfor %}

    <script src="/assets/js/intersection.js"></script>
  </div>
</div>

